.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mainContainer {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.courseId {
  font-size: 24px;
  margin-bottom: 30px;
  color: #1F2544;
}

.allContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}
