.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  background-color: #eeedeb;
}

.popupContent {
  display: flex;
  width: 93vw;
  overflow-x: scroll;
  padding-bottom: 50px;
}

.solutionCardContainer {
  margin: 20px 20px 0px 30px;
  border: 4px dotted #1f2544;
  border-radius: 30px;
  margin-top: 80px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: red;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.closeButton:hover {
  transform: scale(1.05);
  background-color: rgb(255, 0, 0);
}

.cardNumber {
  color: #211c6a;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.uploadBtn {
  position: absolute;
  top: 10px;
  left: 70px;
  background-color: #436850;
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.uploadBtn:hover {
  background-color: #5a6268;
  transform: scale(1.05);
}
